.carousel {
  height: 415px;
  width: calc(100vw - 200px);
  position: relative;
  border-radius: 25px;
  margin: {
    left: 100px;
    top: 50px;
  }

  .carousel-item {
    height: inherit;
    width: inherit;
    object-fit: cover;
    object-position: center;
    border-radius: inherit;
  }

  .icon {
    position: absolute;
    height: 120px;
    width: 96px;
    top: calc(50% - 60px);
    cursor: pointer;
  }

  .li {
    left: 0;
    rotate: -90deg;
  }

  .ri {
    right: 0;
    rotate: 90deg;
  }

  p {
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 18px;
    width: 100%;
    text-align: center;
    font-weight: normal;
    font-family: Montserrat, serif;
  }
}

@media only screen and (max-width: 500px) {
  .carousel {
    height: 255px;

    .icon {
      height: 24px;
      width: 24px;
      top: calc(50% - 12px);
    }
  }
}