.carousel {
  height: calc(100vh / 2.5);
  width: calc(100vw - 200px);
  position: relative;
  border-radius: 25px;
  margin: {
    left: 100px;
    top: 50px;
  }

  .carousel-item {
    height: inherit;
    width: inherit;
    object-fit: cover;
    object-position: center;
    border-radius: inherit;
  }

  .icon {
    position: absolute;
    height: calc(25%);
    top: calc(50% - 12.5%);
    cursor: pointer;
  }

  .li {
    left: 0;
    rotate: -90deg;
  }

  .ri {
    right: 0;
    rotate: 90deg;
  }

  p {
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 18px;
    width: 100%;
    text-align: center;
    font-weight: normal;
    font-family: Montserrat, serif;
  }
}

@media only screen and (max-width: 500px) {

}