.gallery {
  width: calc(100vw - 300px);
  background-color: #F6F6F6;
  border-radius: 25px;
  column-gap: 60px;
  row-gap: 50px;
  margin: {
    top: 50px;
    left: 100px;
    right: 100px;
    bottom: 50px;
  }
  padding: {
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
  };
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  card {
    background-color: #F6F6F6;
  }
}
