.residentialInfo {
  .infos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-left: 100px;

    .leftInfos {
      width: calc(100vw - 200px);
      max-width: 65%;

      .title {
        line-height: unset;
        font-size: 30px;
        font-family: Montserrat, serif;
        font-weight: 500;
        text-align: left;
      }

      .loc {
        line-height: unset;
        font-size: 18px;
        font-family: Montserrat, serif;
        font-weight: 500;
        text-align: left;
        color: black;
        margin: 0;
      }
    }

    .rightInfos {
      height: 100%;
      margin-right: 100px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;

      .host {
        display: flex;
        flex-direction: row;
        align-items: center;

        p {
          max-width: 100px;
          font-family: Montserrat, serif;
          font-size: 18px;
          font-weight: 500;
          line-height: 25.67px;
          text-align: right;
          color: #FF6060;
        }

        img {
          border-radius: 100px;
          height: 64px;
          margin-left: 10px;
        }
      }

      .stars {
        margin-top: 10px;
      }
    }
  }

  .sections {
    width: calc(100vw - 200px);
    display: flex;
    flex-direction: row;
    column-gap: calc(100vw / 19);
    margin: {
      left: 100px;
      right: 100px;
      top: 30px;
      bottom: 50px;
    };
  }
}

@media only screen and (max-width: 500px) {
  .residentialInfo {
    .carousel {
      margin: {
        left: 20px;
        top: 25px;
      };
      width: calc(100vw - 40px);
      border-radius: 15px;
    }

    .infos {
      margin: {
        left: 20px;
        top: 15px;
      };
      flex-direction: column;
      align-items: unset;

      .leftInfos {
        max-width: unset;
        width: calc(100vw - 40px);

        .title {
          line-height: unset;
          font-size: 20px;
          font-family: Montserrat, serif;
          font-weight: 500;
          text-align: left;
        }

        .loc {
          line-height: unset;
          font-size: 16px;
          font-family: Montserrat, serif;
          font-weight: 600;
          text-align: left;
          color: black;
          margin: 0;
        }
      }

      .rightInfos {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-right: 20px;
        margin-top: 15px;

        .host {
          column-gap: 10px;
          max-width: calc(100vw / 2.7);
        }
      }
    }

    .sections {
      width: calc(100vw - 40px);
      margin: {
        left: 20px;
        right: 20px;
      }
      flex-direction: column;
      row-gap: 20px;
    }
  }
}