.section {
  background: #F6F6F673;
  width: calc(100vw - 200px);
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 40px;
  border-radius: 0.5vw;
  transition-duration: 0.3s;
  cursor: pointer;

  > div:nth-child(1) {
    background-color: #FF6060;
    border-radius: 0.5vw;
    height: 4vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
    padding: {
      left: 10px;
      right: 20px;
      top: 10px;
      bottom: 10px;
    };

    > div {
      font: {
        family: Montserrat;
        size: 18px;
        weight: 700;
      };
      line-height: 26px;
      letter-spacing: 0;
      text-align: left;
      color: white;
    }
  }
}
