.section {
  width: calc(100vw - 200px);
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 40px;
  border-radius: 0.7vw;
  transition-duration: 0.3s;
  cursor: pointer;
  overflow: hidden;
  > div:nth-child(1) {
    position: relative;
    z-index: 1;
    background-color: #FF6060;
    border-radius: 0.7vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: {
      left: 10px;
      right: 20px;
      top: 10px;
      bottom: 10px;
    };
    > img {
      transform: rotateY(180deg);
      transition-duration: 0.3s;
    }

    > div {
      font: {
        family: Montserrat;
        size: 18px;
        weight: 700;
      };
      line-height: 26px;
      letter-spacing: 0;
      text-align: left;
      color: white;
    }
  }
}
