.section {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s ease-out;
  width: calc(100vw - 400px);
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 40px;
  border-radius: 0.7vw;
  transition-duration: 0.3s;
  cursor: pointer;
  overflow: hidden;
  background: #F6F6F673;
  > div:nth-child(1) {
    position: relative;
    z-index: 1;
    background-color: #FF6060;
    border-radius: 0.7vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 5vh;
    padding: {
      left: 30px;
      right: 30px;
      top: 10px;
      bottom: 10px;
    };

    > img {
      transform: rotateY(180deg);
      transition-duration: 0.3s;
    }

    > div {
      font: {
        family: Montserrat;
        size: 24px;
        weight: 700;
      };
      line-height: 26px;
      letter-spacing: 0;
      text-align: left;
      color: white;
    }
  }
}
