.semi-section-container {
  width: calc(100vw - 200px);
  transition-duration: 0.3s;
  display: flex;
  flex-direction: column;
  transition: max-height 0.3s;
  max-height: 5vh;

  .semi-section {
    position: relative;
    width: calc(100% - 20px);
    height: 5vh;
    background-color: #FF6060;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

    h3 {
      color: white;
      padding: 0;
      margin: 0;
    }

    img {
      cursor: pointer;
      height: 4vh;
      transition-duration: 0.3s;
    }
  }

  .content {
    transform: scaleY(0);
    transform-origin: top;
    transition-duration: 0.3s;
    overflow: hidden;
    z-index: -1;
    background-color: #F6F6F673;
    width: calc(100% - 40px);
    //background-color: aqua;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: 0;
    padding: 0 20px;
  }
}

@media only screen and (max-width: 500px) {
  .semi-section-container {
    width: calc(100vw - 40px);

  }
}