.semi-section {
  position: relative;
  width: 100%;
  height: 5vh;
  background-color: #FF6060;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;

  h3 {
    color: white;
    padding: 0;
    margin: 0;
  }

  img {
    cursor: pointer;
    height: 4vh;
    transition-duration: 0.3s;
  }

  .content {
    transform: scaleY(0);
    transform-origin: top;
    transition-duration: 0.3s;
    overflow: hidden;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #F6F6F673;
    width: calc(100% - 40px);
    //background-color: aqua;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: {
      left: 20px;
      right: 20px;
      bottom: 10px;
      top: calc(2.5vh + 10px);
    };
  }
}