.tags {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  column-gap: 10px;

  > div {
    display: flex;
    background-color: #FF6060;
    height: 25px;
    padding: 0 20px;
    width: 85px;
    max-width: 85px;
    border-radius: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    align-items: center;
    justify-content: center;

    > div {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-weight: 600;
      text-align: center;
      font-size: 14px;
      color: white;
    }
  }
}

@media only screen and (max-width: 500px) {
  .tags {
    > div {
      width: 74px;
      max-width: 74px;
      border-radius: 7px;

      > div {
        font-size: 12px;
      }
    }

  }
}