.background {
  display: block;
  width: calc(100vw - 200px);
  height: 10vw;
  margin: 50px 100px 0 100px;
  z-index: 2;

  img {
    position: relative;
    z-index: 1;
    width: calc(100vw - 200px);
    height: 10vw;
    object-fit: cover;
    border-radius: 1.5vw;
  }

  .text {
    position: relative;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.60);
    top: calc(-10vw - 4px);
    left: 0;
    width: calc(100vw - 200px);
    height: 10vw;
    border-radius: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    line-height: 68.45px;
    font: {
      family: Montserrat;
      weight: 700;
      size: 48px;
    };
  }
}
