.background {
  display: block;
  width: calc(100vw - 200px);
  height: 12vw;
  margin: 50px 100px 0 100px;
  z-index: 2;

  img {
    position: relative;
    z-index: 1;
    width: calc(100vw - 200px);
    height: 12vw;
    object-fit: cover;
    border-radius: 1.5vw;
  }

  .text {
    position: relative;
    z-index: 2;
    top: calc(-12vw - 4px);
    left: 0;
    width: calc(100vw - 200px);
    height: 12vw;
    border-radius: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    line-height: 68.45px;
    font: {
      family: Montserrat;
      weight: 700;
      size: 48px;
    };
    background-color: rgba(0, 0, 0, 0.30);

    &.active {
      background-color: rgba(0, 0, 0, 0.60);
    }
  }
}


@media only screen and (max-width: 500px) {
  .background {
    width: calc(100vw - 40px);
    height: 130px;
    margin: 25px 20px 0 20px;
    border-radius: 2.5vw;

    img {
      width: calc(100vw - 40px);
      height: 130px;
      border-radius: 2.5vw;
    }

    .text {
      width: calc(100vw - 80px);
      height: 130px;
      font: {
        family: Montserrat;
        weight: 600;
        size: 28px;
      };
      padding-left: 20px;
      padding-right: 20px;
      line-height: 120%;
      text-align: left;
      top: calc(-130px - 4px);
      border-radius: 2.5vw;
    }
  }
}